:root {
    --primary-color: #ffcc00;   /* Global primary color */
    --secondary-color: rgba(255, 255, 255, 0.9); /* Global secondary color */
    --border-radius: 10px;  /* Global border radius */
}


@media screen and (min-width: 414px) {
    body {
        width: 100%;  
        
    }
    
    header {
        max-width: 100%;
    }

    main {
        max-width: 100%;
        position: relative;
        overflow: hidden;
        height: 100vh;
        background-color: transparent;
    }

    .hero img {
        position: absolute;
        max-width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
    
    }

    .data {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 300px;
        background-color: var(--secondary-color);
        border-radius: var(--border-radius);

    }

    .data::after {
        content: "";
        display: block;
        width: 50%;
        height: 4px;
        background-color: var(--accent-color);
        margin: 10px auto;
        border-radius: 2px;
    }

    .data h2 {
        background-color: var(--primary-color);
        padding: 30px;
        margin-top: 10px;
        width: 70%;
        text-align: left;
    }

    .country_info{
        background-color: transparent;
        padding-bottom: 5px;
        font-size: 1rem;
    } 
    

    .weather {
        position: absolute;
        bottom: 60px;
        right: 30px;
        width: 250px; 
        font-size: 1rem;
        background-color: var(--secondary-color);
        border-radius: var(--border-radius); 
    }

    .weather_header {
        background-color: #ffcc00;
        display: flex;
        margin-top: 10px;
        text-align: left;
        width: 80%;
        padding: 5px;
        align-self: self-start;
    }
    footer p {
        font-size: 1.2rem;
    }

    footer {
        max-width: 100%;
    }

    
}