body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
} 



@media screen and (min-width: 800px) {

    body {
        width: 100%;
        margin: auto 0;
    }
    header {
        max-width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4a164a;
    }


<<<<<<< HEAD:temples-large.css
=======
    h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-left: 2rem;
        color: white;
    }

>>>>>>> 35850d7d5e241155bd2c60ae3998f48ab6afaf79:styles/temples-large.css

    header nav {
        display: flex;
        justify-content: space-around;
    }


    header nav a{
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .hamburger {
        display: none;
    }


    .hamburger_menu nav {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
        justify-content: space-around;
        gap: 90px;
        padding-right: 90px;

    }


<<<<<<< HEAD:temples-large.css
    h1 {
        color: white;
=======
    nav a:hover {
        border: 1px solid white;
        color: rgb(247, 247, 10);
        padding: 20px;
    }


    h2 {
    
        color: black;
>>>>>>> 35850d7d5e241155bd2c60ae3998f48ab6afaf79:styles/temples-large.css
        text-align: center;
        font-size: 2rem;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }

    main  { 
        max-width: none;
        width: 100%;
        border: 2px solid rgb(247, 234, 234);  
    }

    h2 {
        text-align: center;
        font-size: 1.8rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }


    #temple_photos {
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
    }

    #temple_photos figure {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
    }


    #temple_photos img {
        width: 80%;
        max-width: 470px;
    }

    #temple_photos figcaption {
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: normal;
        padding-top: 10px;
    }


    footer {
        max-width: 100%;
        height: auto;
        align-items: center;
        margin-top: 60px;
        justify-content: center;
        background-color: #4a164a;
    }


    footer p {
        font-size: 1.6rem;
        color: white;
        text-align: center;
        padding: 20px;
    }   
}